In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Data=pd.read_csv("D:\Datasets\zoo.csv")

In [4]:
Data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
Data.shape

(101, 18)

In [6]:
Data.isna().sum()

animal_name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
class_type     0
dtype: int64

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [8]:
Data['class_type'].unique

<bound method Series.unique of 0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 101, dtype: int64>

In [9]:
Data['class_type'].value_counts()

class_type
1    41
2    20
4    13
7    10
6     8
3     5
5     4
Name: count, dtype: int64

In [10]:
Data.duplicated().sum()

0

In [11]:
Data.animal_name.value_counts()

animal_name
frog        2
pony        1
sealion     1
seal        1
seahorse    1
           ..
gorilla     1
goat        1
gnat        1
girl        1
wren        1
Name: count, Length: 100, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
Data["animal_name"]=lb.fit_transform(Data["animal_name"])
Data["class_type"]=lb.fit_transform(Data["class_type"])

In [13]:
Data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,0
1,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,0
2,2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,3
3,3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,0
4,4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,0
97,96,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,5
98,97,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,0
99,98,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,6
100,99,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,1

In [14]:
Data.class_type.value_counts()

class_type
0    41
1    20
3    13
6    10
5     8
2     5
4     4
Name: count, dtype: int64

In [15]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [16]:
#Split the data into x and y test
x=Data.iloc[:,:-1]
y=Data.iloc[:,-1]

In [17]:
y

0      0
1      0
2      3
3      0
4      0
      ..
96     0
97     5
98     0
99     6
100    1
Name: class_type, Length: 101, dtype: int64

In [18]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
x_data=sc.fit_transform(x)

In [19]:
X_train,X_test,y_train,y_test = train_test_split(x_data, y, test_size=0.2, random_state=1)

In [20]:
#Fit the model
model = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

In [21]:
model = XGBClassifier()
model.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [22]:
y_pred = model.predict(X_test)
y_pred

array([0, 1, 0, 1, 0, 6, 0, 1, 3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 6, 2, 1],
      dtype=int64)

In [23]:
#Check the accuracy 
accuracy = accuracy_score(y_test, y_pred)*100
accuracy

100.0

In [25]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[11,  0,  0,  0,  0,  0],
       [ 0,  5,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  2]], dtype=int64)

In [26]:
#Conclusion: I have used XGoost model and this model turns out to best for this data set100% accuracy.
#Also the confusion matrix shows that all the observations are correctly classified.
#This model best fit for ZOO dataset